{% extends "base.html" %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-200">Edit Alert</h6>
    </div>
    <div class="card-body"> 
        <form method="post" action="{% url 'edit_alert' alert.id %}">
            {% csrf_token %}
            <div class="form-group">
                    <label for="edit_frequency">Alert frequency</label>
                    {{ form.frequency }}
                
            </div>

            <div class="form-group">
                <label for="edit_alert_type">Alert type </label>
                {{ form.alert_type }}
            </div>

            <div class="form-group">
                    <label for="edit_is_active">Alert is active</label>
                    {{ form.is_active }}
            </div>
            <button type="submit" name="edit_alert" class="btn btn-primary">Edit Alert</button>
        </form>
    </div>
</div>
{% endblock %}  