{% extends "base.html" %}
{% load static %}
{% block title %}Income | Table{% endblock %}
{% block extra_head %}
<link href="{% static 'mvendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


<div class="container-fluid">
    
    <div class="d-flex justify-content-end mb-3">
        <form method="get" id="filterForm">
            <select name="time_filter" class="form-select btn btn-sm btn-primary" onchange="document.getElementById('filterForm').submit()" style="background-color: #000b16 ; color:rgb(255, 255, 255); border-color: #000b16;">
                <option value="day" {% if time_filter == 'day' %}selected{% endif %}>Today</option>
                <option value="week" {% if time_filter == 'week' %}selected{% endif %}>This Week</option>
                <option value="month" {% if time_filter == 'month' %}selected{% endif %}>This Month</option>
                <option value="year" {% if time_filter == 'year' %}selected{% endif %}>This Year</option>
                
            </select>
        </form>
    </div>
    
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="h3 mb-2 text-gray-200">summary table</h1>
       
        </a>
        
        
    </div>

    <div class="card shadow mb-2">
        <div class="card-header py-3 p-2">
            <h6 class="m-0 font-weight-bold text-gray-200">insights</h6>
        </div>
        
                <div class="card-body ">
                    <div class="table-responsive table-hover">
                        <table class="table table-border-1" id="dataTable" width="100%" cellspacing="0">
                    <thead class="text-light">
                        <tr>
                                <th>saving goal</th>
                                <th>total income</th>
                                <th>total expenses</th>
                                <th>net profit</th>
                                <th>average income</th>
                                <th>average expenses</th>
                                <th>income ratio</th>
                                <th>expenses ratio</th>
                                

                        </tr>
                    </thead>
                    <tfoot class="text-light">
                        <tr>    
                            <th>saving goal</th>
                            <th>total income</th>
                            <th>total expenses</th>
                            <th>net profit</th>
                            <th>average income</th>
                            <th>average expenses</th>
                            <th>income ratio</th>
                            <th>expenses ratio</th>
                            
                        </tr>
                    
                    <tbody class="text-gray-300">
                        
                        <tr>
                        
                               
                            <td>{{ savings_goal_amount|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ total_income|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ total_expenses|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ net_profit|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ average_income|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ average_expense|floatformat:0 }} {{ user_preferences.currency }}</td>
                            <td>{{ income_ratio|floatformat:0 }}%</td>
                            <td>{{ expense_ratio|floatformat:0 }}%</td>
                         
                         </tr>   
                                
                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block extra_scripts %}
<script src="{% static 'mvendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'mvendor/datatables/dataTables.bootstrap4.min.js' %}"></script> 

<!-- Page level custom scripts -->
<script src="{% static 'mjs/demo/datatables-demo.js' %}"></script> 
{% endblock %}