{% extends 'base.html' %}
{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-gray-200">Set New Alert</h6>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'set_alert' %}">
            {% csrf_token %}
            <div class="form-group">
                    <label for="alert_frequency">Alert frequency</label>
                    {{ form.frequency }}
            
            </div>
                <div class="form-group">
                        <label for="alert_type">Alert type </label>
                        {{ form.alert_type }}
                </div>
                <div class="form-group">
                        <label for="is_active">Is active</label>
                        {{ form.is_active }}
                </div>
            <button type="submit" name="set_target" class="btn btn-primary">Save Target</button>
        </form>
    </div>
</div>
{% endblock %}