{% extends 'baseauth.html' %}
{% comment %} <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forgot Password</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/2.png' %}" />
     
    <!-- Custom fonts for this template-->
    <link href="{% static 'mvendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'mcss/styles.css' %}" rel="stylesheet">
    <link href="{% static 'mcss/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'mcss/ovrdesb.css' %}" rel="stylesheet">
    <link href="{% static 'mcss/custom-land.css' %}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav">
            <div class="container px-1 px-lg-7">
                {% comment %} <a class="navbar-brand" href="#page-top">RiskGaurd-AI</a> 
                <a class="navbar-brand" href="{% url 'landingpage' %}">
                    <img src="{% static 'assets/img/2.png' %}" alt="RiskGuard Logo" style="height: 60px;"> RiskGaurd-AI  
                </a>
                
                <button class="navbar-toggler navbar-toggler-right bg-mm " type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 ">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav> {% endcomment %}
{% block form %}
    <div class="container">
  
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="w-100" style="max-width: 500px;">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
  
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
              </div>
  
              <form class="user" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  {{Fform.email}}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Reset Password
                </button>
              </form>
              {% for message in messages %}
              <p id="messages">{{ message }}</p>
                     {% endfor %}

              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'register' %}">Create an Account!</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
{% endblock form %}
{% comment %}   
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'mvendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mvendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'mvendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'mjs/scripts.js' %}"></script>
    <script src="{% static 'mjs/sb-admin-2.min.js' %}"></script>
    
</body>

</html> {% endcomment %}