{% extends 'baseauth.html' %}
{% load static %}
{% block title %}
<title>Forgot Your Password?</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'mcss/authreset.css' %}">
{% endblock %}

{% block form %}
    <div class="container">
  
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="w-100" style="max-width: 500px;">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
  
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4 text-gray-900 ">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
              </div>
  
              <form class="user" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  {{form.email}}
            
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Reset Password
                </button>
              </form>
              {% for message in messages %}
              <p id="messages">{{ message }}</p>
                     {% endfor %}

              <hr>
              
              <div class="text-center">
                <a class="small" href="{% url 'register' %}">Create an Account!</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
{% endblock form %}
