{% extends 'baseauth.html' %}
{% load static %}
{% block title %}
<title>Password Reset Complete</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'mcss/authreset.css' %}">
{% endblock %}
{% block form %}

  
<body class="bg-gradient-primary">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow" style="max-width: 500px; width: 100%;">
      <h3 class="text-center text-gray-900 mb-3">Password Reset Complete</h3>
      <p class="text-center text-gray-900">Your new password has been set successfully.</p>
      <div class="text-center mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
      </div>
    </div>
  </div>
</body>
{% endblock %}
