.card
{
    background-color: #001b36 ;
    background-blend-mode: multiply;
    color: rgb(250, 246, 246);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.322);
  }
  /* linear-gradient(135deg, #00050a, #001b36) */
  /* .bg-white, */
.bg-light
 {/* { */
  background: linear-gradient(135deg, #001b36, #000913);
  background-blend-mode: multiply;
  color: white; 
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.322);
 
}
.dropdown-menu.show{
  background-color: #001b36;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.322);
  z-index: 1030;
}
.nav-item,
.navbar-light,
.bg-danger1 {
  background: linear-gradient(135deg, #001b36, #001b36);
  background-blend-mode: multiply;
  color: white; 
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.322);
  position: relative;
  z-index: 1030; 

}
.text-gray-800,.text-gray-400{
    color:rgb(187, 194, 204) !important;
}
/*  */

.card-header{
    background: linear-gradient(135deg,#000913,#000913 );
    
    position: relative; 
    z-index: 1030; 
  
}

