
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta and Title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}RiskGuard-AI Dashboard{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/2.png' %}" />

    <!-- Fonts and styles -->
    <link href="{% static 'mvendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900" rel="stylesheet">
    <link href="{% static 'mcss/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'mcss/sbdash.css' %}" rel="stylesheet">

    {% block extra_head %}
        
    {% endblock %}
</head>

<body id="page-top">

    <div id="wrapper">
        {% block sidebar %}
        {% include 'parts/sidebar.html' %}
        {% endblock %}

        <div id="content-wrapper" class="d-flex flex-column bg-light">
            <div id="content">
                {% block topbar %}
                {% include 'parts/topbar.html' %}
                {% endblock %}

                <div class="container-fluid">
                    {% block content %}
                
                    {% endblock %}
                </div>
            </div>

            {% block footer %}
            {% include 'parts/footer.html' %}
            {% endblock %}
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- Logout Modal-->
    
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      
      </div>
    </div>
  </div
    <!-- Scripts -->
    <script src="{% static 'mvendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mvendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'mvendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'mjs/sb-admin-2.min.js' %}"></script>
  
    {% block extra_scripts %}{% endblock %}
</body>
</html>
